.container {
    display: grid;
    height: auto;
    width: auto;
}

#indexdiv {
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'as dsc dsc dsc' ;
    display: grid;
}

#contactdiv {
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'ctsc ctsc ctsc ctsc';
    display: grid;
}

#carrddiv {
    grid-template-areas:
    'hd hd hd hd hd hd'
    'nv nv nv nv nv nv'
    'ssc ssc ssc ssc ssc ssc';
    display: grid;
}

#ourstaffdiv {
    text-align: left;
}

#contactusdiv {
    text-align: center;
}

.header {
    grid-area: hd;
    font-size: 30px;
    padding: 15px;
    background-color: #FCEEA2;
}

#logo {
    height: 50px;
    width: 50px;    
}

.header a {
    color: #FFD700;
    text-decoration: none;
}

.nav a {
    color: #AE00FF;
    text-decoration: none;
}

.nav {
    grid-area: nv;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 5px solid #FCEEA2;
    background-color: #FFD700;
}

#welcome-p h2 {
    color: #AE00FF;
}

#welcome-p {
    grid-area: as;
    margin: 15px;
    width: 220px;
}

#pitbull-hat-pic {
    position: absolute;
    height: 400px;
    width: 650px;
    filter: sepia(70%);
}

#staffcarddiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1250px;
}

#dogpicsec {
    grid-area: dsc;
    margin: 15px;
}

.staffcard {
    grid-area: ssc;
    text-align: center;
    margin: 10px;
    width: 200px;
}

#huskystaff, #yorkiestaff, #goldenstaff {
    width: 200px;
    height: auto;
    border-radius: 15px;
    filter: sepia(100%);
}

#meetkaren, #meetdenise, #meetalice {
    font-size: large;
    color: #AE00FF;
}

#contactsec {
    grid-area: ctsc;
    font-size: larger;
    line-height: 35px;
    margin: 25px;
}