.container {
    border: 5PX solid black;
    display: grid;
    height: 590px;
    width: 1205px;
}

#indexdiv {
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'as dsc dsc dsc'
    'as dsc dsc dsc' ;
}

#contactdiv {
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'ctsc ctsc ctsc ctsc'
    'ctsc ctsc ctsc ctsc' ;
}

#carrddiv {
    grid-template-areas:
    'hd hd hd hd hd hd'
    'nv nv nv nv nv nv'
    'ssc1 ssc1 ssc2 ssc2 ssc3 ssc3'
    'ssc1 ssc1 ssc2 ssc2 ssc3 ssc3' ;
    display: flex;
    justify-content: center;
}

#ourstaffdiv {
    text-align: left;
}

#contactusdiv {
    text-align: center;
}

header {
    grid-area: hd;
    font-size: 30px;
    padding: 15px;
    background-color: #FCEEA2;
}

a {
    color: #FFD700;
    text-decoration: dashed;
}

nav {
    grid-area: nv;
    font-size: 25px;
    margin: 15px;
}

#welcomep {
    grid-area: as;
    margin: 15px;
}

#dogpicsec {
    grid-area: dsc;
    margin: 15px;
}

#contactsec {
    grid-area: ctsc;
    font-size: larger;
}

#staffsec1 {
    grid-area: ssc1;
    width: 270px;
    margin: 10px;
}

#staffsec2 {
    grid-area: ssc2;
    width: 270px;
    margin: 10px;
}

#staffsec3 {
    grid-area: ssc3;
    width: 270px;
    margin: 10px;
}

#logo {
    height: 50px;
    width: 50px;    
}

#lionhat {
    height: 290px;
    width: 650px;
}

#huskystaff {
    height: 400px;
    width: 270px;
}

#yorkiestaff {
    height: 400px;
    width: 270px;
}

#goldenstaff {
    height: 400px;
    width: 270px;
}
